/* 
    Created on : Jul 22, 2015, 9:13:43 PM
    Author     : lmpinheiro
*/

.button {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
 
.button:hover{
    -fx-background-color: #007E7E;
}
 
.button:pressed, .button:default:hover:pressed
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
 
.button:focused
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0; 
}
