/* 
    Created on : Jul 22, 2015, 9:13:43 PM
    Author     : lmpinheiro
*/

.titled-pane 
{
	-fx-text-fill: #828282;
}
.titled-pane:focused 
{
	-fx-text-fill: white;
}
.titled-pane > .title 
{
	-fx-font-size: 14px "Segoe UI Semibold";
	-fx-border-width: 0.2px;
	-fx-border-color : #828282;
	-fx-background-color: white;
	-fx-padding: 0.8em 1.0em 0.8em 0.4em; 
}


.titled-pane:focused > .title 
{
	-fx-font-size: 14px "Segoe UI Semibold";
	-fx-border-width: 0.2px;
	-fx-border-color : #828282;
	-fx-background-color: #1b8d83;
}

.titled-pane > .title > .arrow-button 
{
	-fx-background-color: null;
	-fx-padding: 0em 0em 0em 0em; 
}


.titled-pane-menu 
{
	-fx-text-fill: white;
	-fx-padding: 0em 0em 0em 0em; 
}
.titled-pane-menu:focused 
{
	-fx-text-fill: white;
}
.titled-pane-menu > .title 
{
	-fx-font-size: 15px "Segoe UI Semibold";
	-fx-font-weight: bold;
	-fx-border-width: 0px;
	-fx-border-color :  #006161;
	-fx-background-color: #038D8D;
}








